---
import { cn } from '../../lib/utils';

interface Props {
  class?: string;
  id?: string;
  noPadding?: boolean;
}

const { class: className, id, noPadding = false } = Astro.props;
---

<section id={id} class={cn(!noPadding && 'section-padding', className)}>
  <slot />
</section>
